$main-color: #fca36b;
$second-color: #eb8a86;

$bg-color: #ededed;
$text-color: #181818;
$text-color-grey: #999999;

$button-hover-color: #e0e0e0;
$input-bg-color: #e0e0e0;

$mediaWidthMobile: 375px;
$mediaWidthTablet: 768px;
$mediaWidthDesktop: 1440px;